@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PlayfairDisplay';
  src: local('PlayfairDisplay'), url(../fonts/PlayfairDisplay.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(../fonts/Lato-Regular.ttf) format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: url('/icons8-wedding-32.png'), pointer;
}

* {
  box-sizing: border-box;
}

button {
  cursor: url('/icons8-wedding-32.png'), pointer;
}

.nav_option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: calc(100%/9);
  cursor: url('/icons8-wedding-32.png'), pointer;
  padding: 0 5px;
}

.nav_option a {
  cursor: url('/icons8-wedding-32.png'), pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0;
}

.nav_option::after {
  content: "";
  display: block;
  width: 0;
  border-bottom: 1px solid #183F24;
  transition: width 0.5s;
}

.nav_option:hover::after, .nav_option:focus-within::after {
  width: 100%;
}

.unicorn {
  /* Same as before */
  background: linear-gradient(to right, hotpink, #f8b7c3, mediumpurple 50%, #3C9D5A 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 500ms ease;
  cursor: url('/cursor.cur'), pointer;
}

.unicorn:hover {
  background-position: 0 100%;
}

@media (max-width: 768px) {
  .nav_option {
    width: auto;
    padding: 1px 5px;
  }
}